<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.blz-contentstack.com/v3/assets/blte0bbc3c063f45866/blt2b108449c655a07a/6130ff6ac203863c736d8e41/BlizzardCom-Header-2500x514_SDW01_new.webp?auto=webp&format=pjpg" class="d-block w-100" alt="game_image">
          <div class="container">
            <div class="carousel-caption text-left mb-5">
              <h1>Últimas noticias</h1>
              <p>Conoce las últims noticias de nuestros productos y torneos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 mb-4">
                <h3 class="text-center"><i class="bi bi-controller mr-1"></i>RetryStore News</h3>
            </div>

            <div class="col-12 mx-2">

                <div class="row border rounded shadow-sm mb-4 mr-1">
                    <div class="col-md-4 p-0  img-overlay">
                        <img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/ji/JIF2YEABIPJC1629926029519.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 py-2">
                          <h5 class="card-title">¡COMIENZA LA TEMPORADA 2 DE SHADOWLANDS!</h5>
                          <p class="card-text">El Mythic Dungeon International (MDI) vuelve para la segunda temporada de Shadowlands, y lo hace con un nuevo formato para que los equipos luchen por la final global de 2021.</p>
                    </div>
                </div>

                <div class="row border rounded shadow-sm mb-4 mr-1">
                    <div class="col-md-4 p-0  img-overlay">
                        <img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/ji/JIF2YEABIPJC1629926029519.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 py-2">
                          <h5 class="card-title">MYTHIC DUNGEON INTERNATIONAL: ¡COMIENZA LA TEMPORADA 2 DE SHADOWLANDS!</h5>
                          <p class="card-text">El Mythic Dungeon International (MDI) vuelve para la segunda temporada de Shadowlands, y lo hace con un nuevo formato para que los equipos luchen por la final global de 2021.</p>
                    </div>
                </div>

                <div class="row border rounded shadow-sm mb-4 mr-1">
                    <div class="col-md-4 p-0  img-overlay">
                        <img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/ji/JIF2YEABIPJC1629926029519.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 py-2">
                          <h5 class="card-title">MYTHIC DUNGEON INTERNATIONAL: ¡COMIENZA LA TEMPORADA 2 DE SHADOWLANDS!</h5>
                          <p class="card-text">El Mythic Dungeon International (MDI) vuelve para la segunda temporada de Shadowlands, y lo hace con un nuevo formato para que los equipos luchen por la final global de 2021.</p>
                    </div>
                </div>
                
                <div class="row border rounded shadow-sm mb-4 mr-1">
                    <div class="col-md-4 p-0  img-overlay">
                        <img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/ji/JIF2YEABIPJC1629926029519.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 py-2">
                          <h5 class="card-title">MYTHIC DUNGEON INTERNATIONAL: ¡COMIENZA LA TEMPORADA 2 DE SHADOWLANDS!</h5>
                          <p class="card-text">El Mythic Dungeon International (MDI) vuelve para la segunda temporada de Shadowlands, y lo hace con un nuevo formato para que los equipos luchen por la final global de 2021.</p>
                    </div>
                </div>

                <div class="row border rounded shadow-sm mb-4 mr-1">
                    <div class="col-md-4 p-0  img-overlay">
                        <img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/ji/JIF2YEABIPJC1629926029519.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 py-2">
                          <h5 class="card-title">MYTHIC DUNGEON INTERNATIONAL: ¡COMIENZA LA TEMPORADA 2 DE SHADOWLANDS!</h5>
                          <p class="card-text">El Mythic Dungeon International (MDI) vuelve para la segunda temporada de Shadowlands, y lo hace con un nuevo formato para que los equipos luchen por la final global de 2021.</p>
                    </div>
                </div>

                <div class="row border rounded shadow-sm mb-4 mr-1">
                    <div class="col-md-4 p-0  img-overlay">
                        <img src="https://bnetcmsus-a.akamaihd.net/cms/blog_header/ji/JIF2YEABIPJC1629926029519.jpg" class="img-fluid">
                    </div>
                    <div class="col-md-8 py-2">
                          <h5 class="card-title">MYTHIC DUNGEON INTERNATIONAL: ¡COMIENZA LA TEMPORADA 2 DE SHADOWLANDS!</h5>
                          <p class="card-text">El Mythic Dungeon International (MDI) vuelve para la segunda temporada de Shadowlands, y lo hace con un nuevo formato para que los equipos luchen por la final global de 2021.</p>
                    </div>
                </div>

                
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>