<main role="main">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.blz-contentstack.com/v3/assets/blte0bbc3c063f45866/blt2b108449c655a07a/6130ff6ac203863c736d8e41/BlizzardCom-Header-2500x514_SDW01_new.webp?auto=webp&format=pjpg" class="d-block w-100" alt="game_image">
          <div class="container">
            <div class="carousel-caption text-left mb-5">
              <h1>Últimas noticias</h1>
              <p>Conoce las últims noticias de nuestros productos y torneos</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 mb-4">
                <h2 class="text-center text-lightblue"><i class="bi bi-controller mr-1"></i>RetryStore News</h2>
            </div>

            <div class="col-12 mx-2">

                <ul class="pl-0" class="pl-0 news-list mt-4">
                    <li *ngFor="let element of data">
                        <div class="row rounded shadow mb-5 mr-1 bg-dark21 news-card">
                            <div class="col-md-4 p-0 img-overlay">
                                <img src="{{element.img}}" class="img-fluid">
                            </div>
                            <div class="col-md-8 py-2 d-flex flex-column justify-content-center">
                                  <h5 class="card-title text-muted mb-1">{{element.title}}</h5>
                                  <p class="card-text text-white">{{element.text}}</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>