<main role="main" class="main-content">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/T1O4N5EVE53U1625160415754.jpg" class="d-block w-100" alt="game_image">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Nuestra misión</h1>
              <p><a class="btn btn-lg btn-primary" href="/sign">Conoce más</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est consectetur dolores, quaerat vel corrupti error ducimus veritatis recusandae eligendi vero ex neque nam ea praesentium omnis expedita magni maxime delectus. Labore minus velit rerum doloribus minima quis delectus perspiciatis illum facilis magnam numquam corporis totam obcaecati praesentium, adipisci, nulla repellat alias omnis amet molestiae quibusdam! Veritatis deleniti odit corporis magnam ex explicabo error inventore, temporibus possimus. Iure quos odio laboriosam inventore dolore expedita aliquid eligendi facere, voluptas cupiditate. Cupiditate aspernatur facilis quaerat impedit repudiandae quas id odit provident dolorem hic minus rerum nulla a, atque ipsa reiciendis voluptatum architecto repellat.
                </p>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>