<main role="main" class="main-content">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://bnetcmsus-a.akamaihd.net/cms/template_resource/T1O4N5EVE53U1625160415754.jpg" class="d-block w-100" alt="game_image">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Nuestra misión</h1>
              <p><a class="btn btn-lg btn-primary" href="/sign">Conoce más</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="container">
      <div class="row mt-5">
        <div class="col-md-3">
          <p class="text-light text-center text-md-right control-logo"><i class="bi bi-controller mr-1"></i></p>
        </div>
        <div class="col-md-9 py-2">
              <p class="text-light text-center text-md-left">Ser una empresa líder en el sector del entretenimiento, enfocando nuestros esfuerzos en la innovación, excelencia y experiencia de usuario, tanto en la en el desarrollo de nuestros títulos, cmo en la interacción de estos con nuestros usuarios. Ofrecer diversión, emoción y sensaciones con la mejor y más diversa oferta de videojuegos.</p>
        </div>
      </div>
    </div>
</main>
<app-footer></app-footer>