<footer class="footer mt-auto py-3 bg-dark12">
    <div class="container">
      <div class="row">
          <div class="col-md-6">
            <ul class="social-list d-flex">
                <li class="mr-3">
                    <a href="#" class="text-light ">
                        <i class="bi bi-twitter"></i>
                    </a>
                </li>
                <li class="mr-3">
                    <a href="#" class="text-light ">
                        <i class="bi bi-facebook"></i>
                    </a>
                </li>
                <li class="mr-3">
                    <a href="#" class="text-light ">
                        <i class="bi bi-instagram"></i>
                    </a>
                </li>
                <li class="mr-3">
                    <a href="#" class="text-light ">
                        <i class="bi bi-youtube"></i>
                    </a>
                </li>
            </ul>
          </div>

          <!-- Col 2 -->
          <div class="col-md-6 d-flex justify-content-end">
              <span class="text-light">Contáctanos en: retrystore@contact.com</span>
          </div>
      </div>
    </div>
</footer>